# PEER PROJECT - GROUP-14-WEEK-9-DAP


# Using the same nyc-ticket-violation dataset, letâ€™s assume that tickets can be dismissed if the license plate, state, and/or street name are all there but without requiring the make of car. Remove rows that are missing one or more of these. How many rows remain? Assuming $100/ticket, how much money would the city lose as a result of this?

In [1]:
import pandas as pd

In [2]:
nyc_violation_data=pd.read_csv('data 2.csv', low_memory= False)
nyc_violation_data

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation,Unnamed: 43,Unnamed: 44
0,4.714702e+09,KGK6659,NY,PAS,11-12-20,36.0,4DSD,BMW,V,0.0,...,2007.0,NaN,0.0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,NaN,NaN
1,8.793685e+09,L5232HY,TN,PAS,09/14/2020,21.0,TRAC,INTER,T,60790.0,...,0.0,NaN,0.0,W,NaN,NaN,NaN,NaN,NaN,NaN
2,8.864757e+09,BPMN76,FL,PAS,11/25/2020,20.0,SUBN,NISSA,T,36030.0,...,0.0,NaN,0.0,49,20A-No Parking (Non-COM),NaN,NaN,NaN,NaN,NaN
3,8.778326e+09,57387MJ,NY,COM,08/20/2020,38.0,VAN,NaN,T,34430.0,...,2016.0,NaN,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,4.706641e+09,M81KFJ,NJ,PAS,09-09-20,36.0,UT,TOYOT,V,0.0,...,2002.0,NaN,0.0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Selecting of columns for the dataframe.

In [3]:
nyc_violation_data= pd.read_csv('data 2.csv', usecols=['Plate ID','Registration State','Street Name'])
nyc_violation_data.head()

  Plate ID Registration State           Street Name
0  KGK6659                 NY  WB ATLANTIC AVE @ SH
1  L5232HY                 TN   Rockaway Beach Blvd
2   BPMN76                 FL            W 113th St
3  57387MJ                 NY             W 33rd St
4   M81KFJ                 NJ  WB FOSTER AVE @ E 18

# Getting nyc_violation_data information

In [4]:
# This informs us about every info concerning all the columns.
nyc_violation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50113 entries, 0 to 50112
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Plate ID            50000 non-null  object
 1   Registration State  50000 non-null  object
 2   Street Name         49990 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB

# suming the missing data in each  column in the dataframe

In [6]:
# suming the missing data in each  column in the dataframe
nyc_violation_data.isnull().sum()

Plate ID              113
Registration State    113
Street Name           123
dtype: int64

# How many rows remain?

In [11]:
#Droping missing dataset in the dataframe
remaining_df=nyc_violation_data.dropna()
remaining_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49990 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Plate ID            49990 non-null  object
 1   Registration State  49990 non-null  object
 2   Street Name         49990 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

In [15]:
# how many rows remain
R_rows= remaining_df.shape[0]
print(f'the number of remaining rows = {R_rows:.2f}')

the number of remaining rows is = 49990.00

# How many row have been removed

In [20]:
del_row = nyc_violation_data.shape[0]- remaining_df.shape[0]

print(f'the number of missing rows  = {(del_row):.2f}')

the number of missing rows  = 123.00

# Assuming $100/ticket, how much money would the city lose as a result of this?

In [21]:
print(f' money lost by nyc because of missing data = ${(del_rows*100):,.2f}')

 money lost by nyc because of missing data = $12,300.00